.gallery {
	display: flex;
	flex-wrap: wrap;
}
.gallery-item {
	width: 370px;
	height: 404px;
	margin-right: 0px;
	margin-bottom: 0px;
	background: #ffffff;
	border: 1px solid #eeeeee;
	&:hover {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
	&:focus {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	}
	&:not(:nth-child(3n)) {
		margin-right: 30px;
	}
	&:not(:nth-last-child(-n + 3)) {
				margin-bottom: 30px;
			}
}

.img {
  text-decoration: none;
}

.box-img {
  position: relative;
  overflow: hidden;
}

.gallery-item {
	&:hover {
		.pop-up-content {
			transform: translateY(0);
		}
	}
}
